---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.vue'
import { sideBar } from '../config'
---


<html>
  <head>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
    <div class="mx-auto max-w-[1200px]">
      <Header />
      <div class="relative">
        <Sidebar sideBar={sideBar}/>
      </div>
    </div>
  </body>
</html>
